# Export Dataframes to MySQL

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Exemple de dataframe (à remplacer par votre dataframe)
data = {
    'position': [1, 2, 3, 4, 5],
    'country': ['France', 'France', 'Spain', 'United States', 'United States'],
    'company_name': ['LVMH', 'Hermès', 'Inditex', 'TJX Companies', 'Nike'],
    'capitalization_billion_dol': [321.6, 240.7, 177.0, 142.3, 117.7]
}
df = pd.DataFrame(data)

# Créer une connexion à la base MySQL
engine = create_engine("mysql+pymysql://username:password@localhost/my_database")

# Exporter la dataframe dans une table nommée 'entreprises'
df.to_sql(name="entreprises", con=engine, if_exists="replace", index=False)

In [ ]:
import nbformat

def merge_notebooks(notebook_files, output_file):
    """
    Fusionne plusieurs notebooks en un seul.
    
    :param notebook_files: liste des chemins vers les notebooks à fusionner
    :param output_file: chemin du notebook de sortie fusionné
    """
    # Créer un nouveau notebook vide (version 4)
    merged_notebook = nbformat.v4.new_notebook()
    merged_notebook.cells = []

    for nb_file in notebook_files:
        with open(nb_file, 'r', encoding='utf-8') as f:
            nb = nbformat.read(f, as_version=4)
            # Vous pouvez éventuellement filtrer ou réordonner les cellules ici
            merged_notebook.cells.extend(nb.cells)

    with open(output_file, 'w', encoding='utf-8') as f:
        nbformat.write(merged_notebook, f)

# Exemple d'utilisation
notebooks_a_fusionner = ['notebook1.ipynb', 'notebook2.ipynb', 'notebook3.ipynb']
merge_notebooks(notebooks_a_fusionner, 'notebook_fusionne.ipynb')